body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.loginbox{
    width: 320px;
    height: 420px;
    background: #000;
    color:  #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color:  #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}
.loginbox a:hover{
    color: #ffc107;
}

.content-table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.content-table thead tr{
    background-color: #009879;
    color: #fff;
    text-align: left;
    font-weight: bold;
}
.content-table th, 
.content-table td{
    padding: 12px 15px;
}
.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even){
    border-bottom: 2px solid #009879;
}
.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.container{
    width: 100%;
}
.progressbar {
    counter-reset: step;
}
.progressbar li{
    list-style-type: step;
}
.progressbar li{
    list-style-type: none;
    float: left;
    width: 33.33%;
    position: relative;
    text-align: center;
}
.progressbar li:before{
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbar li:after{
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after{
    content: none;
}
.progressbar li.active {
    color: green;
}
.progressbar li.active:before{
    border-color: green;
}
